@{
    ViewData["Title"] = "CURD-Contatos";
}




<div class="row min-vh-100 container gap-5 m-auto bg-body">

    <div class="col d-flex  justify-content-start align-items-center">
        <img src="assets/images/Get in touch-amico.svg" class="img-fluid w-100" alt="">
       
    </div>
    <div class="col  d-flex justify-content-center align-items-start bg-gray flex-column gap-3">

            <h1 class="h1   text-white">Sistema de controle de contato
           
            </h1>
        <div>   

        <a asp-action="Cadastra" asp-controller="Contato" class="btn btn-primary me-3">Cadastra</a>
        <a asp-action="Index" asp-controller="Contato" class="btn btn-secondary">Contatos</a>
         <h2  class="h2 text-white-50 mt-3">CRUD</h2>
        </div>
        
    </div>

</div>



